<!doctype html>
<html lang="en">    
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, shrink-to-fit=no">        
        <meta property="og:type" content="website"/>        
        <meta property="og:locale" content="en_US"/>
        <meta name="twitter:site" content="@arynewsofficial"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta property="fb:pages" content="485559268138376"/>
        <meta name="twitter:image" content="{{domain}}/static/images/web-og.jpg"/>
        <meta name="twitter:creator" content="@arynewsofficial"/>
        <meta property="og:site_name" content="ARYNEWS"/>
        <meta property="fb:app_id" content="959069414137414"/>
        <meta property="og:image" content="{{domain}}/static/images/web-og.jpg"/>
        <meta property="og:image:secure_url" content="{{domain}}/static/images/web-og.jpg"/>
        <meta property="og:image:width" content="1024"/>
        <meta property="og:image:height" content="1024"/>
        <meta property="og:image:alt" content="Pakistan General Elections 2024"/>
        <meta name="twitter:card" content="summary_large_image"/>
        {% block meta %}{% endblock %}

        <!-- Google Analytics tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-JSP946R4FE"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-JSP946R4FE');
        </script>
        <!-- favicon  -->
        <link rel="icon" type="image/x-icon" href="/static/images/Election_2024-PNG-Logo-For-Website.png">
       <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous"
        >
        <!-- Header Css  -->
        <link rel="stylesheet" href="/static/css/header.css">
        <!-- Main CSS  -->
        <link rel="stylesheet" href="/static/css/main.css">
        <!-- Jquery  -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <!-- Data tables  -->
        <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
        <!-- Font Awesome  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
        <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
        <!-- sweet alert 2  -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>{% block title %}{% endblock %}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        
        <!-- social icons share  -->
        <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=65bcbcae1eabb90019a54637&product=sticky-share-buttons' async='async'></script>

        <!-- google ads script  -->
        <script async data-cfasync="false" src="//securepubads.g.doubleclick.net/tag/js/gpt.js"></script>
        <script data-cfasync="false">
	//Added on Tuesday
	window.googletag = window.googletag || {cmd: []};
        googletag.cmd.push(function() {
        var electionbb = googletag.sizeMapping()
        .addSize([1000, 0], [[728, 90], [970, 250],[970, 90]]).addSize([728, 0], [[728,90],[468,60],[320,100]]).addSize([640, 0], [[468,60],[320,100]]).addSize([0, 0], [[320,100]])
        .build();

        var electionmrec = googletag.sizeMapping()
        .addSize([1000, 0], [[300,250]]).addSize([728, 0], [[300,250]]).addSize([0, 0], [[300,250]])
        .build();

        var electionsky = googletag.sizeMapping()
        .addSize([1000, 0], [[300,600],[160,600]]).addSize([728, 0], [[300,600]]).addSize([0, 0], [[300,600]])
        .build();


        googletag.defineSlot('/67551462/Election-Home-BB-LB', [[970, 250], [728, 90], [320, 100], [970, 90], [468, 60]], 'div-gpt-ad-1706865180054-0')
        .defineSizeMapping(electionbb)
        .addService(googletag.pubads());
	

        googletag.defineSlot('/67551462/Election-Mrec', [300, 250], 'div-gpt-ad-1706864773238-0')
        .defineSizeMapping(electionmrec)
        .addService(googletag.pubads());

       
	googletag.defineSlot('/67551462/Election-Sky_Scrapper', [[300, 600], [160, 600]], 'div-gpt-ad-1706864730939-0')	
        .defineSizeMapping(electionsky)
        .addService(googletag.pubads());
			
	
       
        googletag.pubads().enableSingleRequest();
        googletag.pubads().collapseEmptyDivs();
       
        googletag.pubads().setCentering(true);
        googletag.enableServices();

       
       
        });
	    </script>
        <!-- google-site-verification -->
        <meta name="google-site-verification" content="s7dbMwnyf8QgyMxA6yxoq3mkF6t8xcjlgbJzlbs0gDc" />

        {% block style %}{% endblock %}
    </head>
    <body>
        <!-- header  -->        
        <header>
            <div class="nav-wrapper-custom">
                <div class="logo-container-custom">
                    <a href="{{domain}}" class="">
                        <!-- <img class="logo-custom" src="/static/images/Election-2018-Logo.png" alt="Logo"> -->
                        <img class="logo-custom" src="/static/images/Election_2024-PNG-Logo-For-Website.png" alt="Logo">
                    </a>
                    <span class="mx-2"></span>
                    <a href="https://arynews.tv/" class="">
                        <img class="logo-custom" src="/static/images/ary-news-logo.png" alt="Logo">
                    </a>
                </div>
                <nav>
                    <input class="hidden" type="checkbox" id="menuToggle-custom">
                    <label class="menu-btn-custom" for="menuToggle-custom">
                        <div class="menu-custom"></div>
                        <div class="menu-custom"></div>
                        <div class="menu-custom"></div>
                    </label>
                    <div class="nav-container">
                        <ul class="nav-tabs-custom">                            
                            <li onclick='window.location.href ="{{domain}}"' class="nav-tab hover-underline-animation {% if active_page == 'home' %}active-tab{% endif %}">
                                <a href="/">Home
                                </a>
                            </li>
                            <li onclick='window.location.href="{{domain}}/constituencies/national/2024"'  class="nav-tab hover-underline-animation {% if active_page == 'constituencies' or active_page == 'single_constituency' %}active-tab{% endif %}">
                                <a href="/constituencies/national/2024">Constituencies</a>
                            </li>
                            <li onclick='window.location.href="{{domain}}/political-parties"' class="nav-tab hover-underline-animation {% if active_page == 'politicalparties' %}active-tab{% endif %}">
                                <a href="/political-parties">Political Parties</a>
                            </li>
                            <li onclick='window.location.href="{{domain}}/infographics"' class="nav-tab hover-underline-animation {% if active_page == 'infographics' %}active-tab{% endif %}">
                                <a href="/infographics">Infographics</a>
                            </li>
                            <li  onclick='window.location.href="{{domain}}/manifestos"' class="nav-tab hover-underline-animation {% if active_page == 'manifestos' %}active-tab{% endif %}">
                                <a href="/manifestos">Manifestos</a>
                            </li>
                            <li  onclick='window.location.href="{{domain}}/results/2024"' class="nav-tab hover-underline-animation {% if active_page == 'results' %}active-tab{% endif %}">
                                <a href="/results/2024">Results</a>
                            </li>
                            <!-- <li class="nav-tab hover-underline-animation {% if active_page == 'home' %}active-tab{% endif %}"><a href="#">Contact</a></li>
                            <li class="nav-tab hover-underline-animation {% if active_page == 'home' %}active-tab{% endif %}"><a href="#">Careers</a></li> -->
                            <li class="nav-tab"  onclick='window.open("https://live.arynews.tv/audio/")'>
                                <a href="https://live.arynews.tv/audio/">
                                    <!-- <i class="fa fa-volume-up" aria-hidden="true"></i> -->
                                    <img class="img-fluid" width="20" src="/static/images/icons/icons8-audio-50.png" alt="">
                                </a>
                            </i>
                        </li>
                        <li class="nav-tab" onclick='window.open("https://live.arynews.tv/")'>
                            <a href="https://live.arynews.tv/" target="blank">
                                <img class="img-fluid" width="20" src="/static/images/icons/live-icon.png" alt="">

                            </i>
                        </a>
                    </li>
                    <li class="nav-tab text-center" onclick='window.open("{{domain}}/download-ost")'>
                        <a href="/download-ost">
                            <span class="text-primary">#NikloPakistanKiKhatir</span>
                            <br>
                            <span class="primary-custom-color">Download OST!</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- /67551462/Election-Home-BB-LB -->
<!-- google ads start  -->
<div id='div-gpt-ad-1706865180054-0' style='min-width: 320px; min-height: 60px;'>
    <script>
      googletag.cmd.push(function() { googletag.display('div-gpt-ad-1706865180054-0'); });
    </script>
</div>
<!-- google ads end  -->

<div class="sharethis-sticky-share-buttons"></div>

{% block content %}{% endblock %}

<button onclick="topFunction()" id="scrollTopBtn" title="Go to top"><i class="fas fa-angle-double-up"></i></button>
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid  mx-0 px-0">
    <!-- Footer -->
    <footer class="text-start text-lg-start">
        <!-- Section: Social media -->
        <section class="container d-flex justify-content-between px-md-4 py-md-2 p-4" style="background-color: var(--grey-custom-color)">
            <!-- Left -->
            <div class="me-5">
                <h5>Get connected with us on social networks:</h5>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="https://www.facebook.com/arynewsasia/" class="mr-2">
                    <i class="fab fa-facebook-square"></i>
                </a>
                <a href="https://twitter.com/ARYNEWSOFFICIAL" class="mr-2">
                    <i class="fab fa-twitter-square"></i>
                </a>
                <a href="https://www.youtube.com/channel/UCMmpLL2ucRHAXbNHiCPyIyg" class="mr-2">
                    <i class="fab fa-youtube-square"></i>
                </a>
                <a href="https://www.instagram.com/arynewstv/?hl=en" class="mr-2">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.tiktok.com/@arynews.official" class="mr-2">
                    <i class="fab fa-tiktok"></i>
                </a>
                <!-- 
                <a href="https://soundcloud.com/arynewsofficial" class="mr-2">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://www.dailymotion.com/arynews" class="mr-2">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="https://wa.me/+923202796397" class="mr-2">
                    <i class="fa fa-instagram"></i>
                </a> -->
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="" style="background-color: #f7f7f7;">
            <div class="container text-center text-md-start pt-3 ">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 text-md-left text-center">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold">ARY Election Site</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: var(--primary-custom-color); height: 2px">
                        <p style="line-height: 1.2rem;">ARY Election Portal: Your trusted source for comprehensive coverage and real-time updates on the 2024 General Elections in Pakistan. Stay informed, engage with insightful analysis, and make informed decisions as the nation decides its future.</p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-md-left text-center">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">ARY Platforms</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: var(--primary-custom-color); height: 2px">
                        <p>
                            <a href="https://arynews.tv/" class="">ARY NEWS</a>
                        </p>
                        <p>
                            <a href="https://www.arydigital.tv/" class="">ARY DIGITAL</a>
                        </p>
                        <p>
                            <a href="https://aryqtv.tv/" class="">ARY QTV</a>
                        </p>
                        <p>
                            <a href="https://aryzindagi.tv/" class="">ARY ZINDAGI</a>
                        </p>
                        <p>
                            <a href="https://arymusik.tv/" class="">ARY MUSIC</a>
                        </p>
                        <p>
                            <a href="https://aryzap.com/" class="">ARY ZAP</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-md-left text-center">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">INTERACTIVE</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: var(--primary-custom-color); height: 2px">
                        <p>
                            <a href="https://live.arynews.tv/pk/" class="">LIVE STREAM</a>
                        </p>
                        <p>
                            <a href="https://videos.arynews.tv/" class="">VIDEOS</a>
                        </p>
                        <p>
                            <a href="https://arynews.tv/category/latest-blogs/" class="">ARY BLOGS</a>
                        </p>
                        <p>
                            <a href="https://arynews.tv/category/photo-gallery/" class="">PHOTO GALLERY</a>
                        </p>
                        <p>
                            <a href="https://arynews.tv/mobile-apps/" class="">MOBILE APPS</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 text-md-left text-center">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold">CORPORATE</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: var(--primary-custom-color); height: 2px">
                        <p>
                            <a href="https://arynews.tv/feedback" class="">FEEDBACK</a>
                        </p>
                        <p>
                            <a href="https://arynews.tv/contact-us/" class="">CONTACT US</a>
                        </p>
                        <p>
                            <a href="https://arynews.tv/about-us/" class="">ABOUT US</a>
                        </p>
                        <!-- <p>
                            <a href="#!" class="">CAREER</a>
                        </p> -->
                        <p>
                            <a href="https://arynews.tv/terms&conditions.pdf" class="">TERMS & CONDITIONS</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-2 text-uppercase" style="background-color: var(--grey-custom-color);font-size: 1rem;font-weight: 500;">
            © 2024 Copyright-
            <a class=" " href="https://arynews.tv/">
                ARY NEWS
            </a
          >
            All Rights Reserved
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
</div>
<!-- End of .container -->
<!-- Optional JavaScript -->
<!-- Popper.js, then Bootstrap JS -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
    var header = document.querySelector('.nav-wrapper-custom');

    // Listen for the scroll event
    window.addEventListener('scroll', function () {
        // Check the screen width
        var screenWidth = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;

        // Check the scroll position only for desktop screens (screen width > 768px)
        if (screenWidth > 768) {
            if (window.scrollY > 50) {
                // If scrolled down, add a class to make the header transparent
                header.style.opacity = 0.8;
            } else {
                // If at the top, remove the class to make the header opaque
                header.style.opacity = 1;
            }
        } else {
            // For mobile screens, reset the header style
            header.style.opacity = 1;
        }
    });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" src="/static/js/advertisement.js"></script>
<script>
    function check_adblock() {
        if  (typeof noadblock !== 'undefined') {
            // no adblock
        }else{
            // adblock detected, do stuff here            
            Swal.fire({
                title: "Please allow ads on our site",
                text: "Looks like you're using an ad blocker. We rely on advertising to help fund our site.",
                showClass: {
                    popup: `
                    animate__animated
                    animate__fadeInUp
                    animate__faster
                    `
                },
                hideClass: {
                    popup: `
                    animate__animated
                    animate__fadeOutDown
                    animate__faster
                    `
                }
            });
        }
    }
    window.onload = check_adblock();
</script>

<!-- scrollTopBtn script  -->
<script>
    // Get the button:
let mybutton = document.getElementById("scrollTopBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0; // For Safari
  document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>

<!-- zoom script  -->
<script>
    let scale = 1;
    let isDragging = false;
    let startX, startY, offsetX = 0, offsetY = 0;
    let lastX, lastY;

    function zoomIn() {
      if (scale < 15) {        
        scale += 1;
        applyZoom();
      }
    }

    function zoomOut() {
      if (scale > 1) {
        scale -= 1;
        applyZoom();
      }
    }

    function applyZoom() {
      document.getElementById('national-svg').style.transform = `scale(${scale}) translate(${offsetX}px, ${offsetY}px)`;
    }

    document.getElementById('national-svg').addEventListener('mousedown', startDrag);
    document.addEventListener('mousemove', drag);
    document.addEventListener('mouseup', endDrag);
    document.addEventListener('mouseleave', endDrag);

    function startDrag(e) {
      if (e.button !== 0) return;
      isDragging = true;
      startX = e.clientX;
      startY = e.clientY;
      lastX = startX;
      lastY = startY;
    }

    function drag(e) {
      if (!isDragging) return;
      e.preventDefault();
      let deltaX = e.clientX - lastX;
      let deltaY = e.clientY - lastY;
      offsetX += deltaX / scale;
      offsetY += deltaY / scale;
      lastX = e.clientX;
      lastY = e.clientY;
      applyZoom();
    }

    function endDrag() {
      isDragging = false;
    }

</script>
</body>
</html>
