{% extends 'base.html' %}

{% block title %}Constituency{% endblock %}

{% block content %}

<!-- breadcrumb -->
<div class="container p-0 breadcrumb-custom">
    <nav aria-label="breadcrumb" class="breadcrumb py-2 m-0">
        <ol class="breadcrumb p-0 m-0">
            <li class="breadcrumb-item">
                <a href="/">HOME</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Error</li>
        </ol>
    </nav>
</div>
<!-- breadcrumb ends  -->
<div class="container p-0" id="pk-constituency" style="min-height: 50vh;">
    <div class="p-5 bg-dark text-white text-center">
        <h1>Oops, Something went Wrong</h1>
        <p>{{error}}</p>
        <a href="/"><button class="btn btn-secondary mt-3">HOME</button></a>
    </div>
</div>
{% endblock %}
