{% extends 'base.html' %}

{% block title %}Pakistan General Elections 2024 Infographics{% endblock %}

{% block meta %}
<meta name="title" content="Pakistan General Elections 2024 Infographics">
<meta name="description" content="Pakistan will see elections 2024 on February 8 on 266 NA and 593 PA seats. All the relevant Infographics regarding the exercise are available here on ARY News election portal."/>
<meta name="keywords" content="General Election 2024, Pakistan Election 2024 polls, Pakistan Elections, Pakistan General Elections 2024, Today Election results Pakistan, General elections update, Elections update, Elections results 2024, Elections results, Election polls, Election results live update, Elections, Candidates, Election Results"/>


<!-- Required meta tags -->
<link rel="canonical" href="https://elections.arynews.tv/info-graphics"/>
<meta property="og:title" content="Pakistan General Elections 2024 Infographics"/>
<meta property="og:description" content="Pakistan will see elections 2024 on February 8 on 266 NA and 593 PA seats. All the relevant Infographics regarding the exercise are available here on ARY News election portal."/>
<meta property="og:url" content="https://elections.arynews.tv/info-graphics"/>

<meta name="twitter:description" content="Pakistan will see elections 2024 on February 8 on 266 NA and 593 PA seats. All the relevant Infographics regarding the exercise are available here on ARY News election portal."/>

{% endblock %}

{% block content %}

<!-- breadcrumb -->
<div class="container p-0 breadcrumb-custom">
    <nav aria-label="breadcrumb" class="breadcrumb py-2 m-0">
        <ol class="breadcrumb p-0 m-0">
            <li class="breadcrumb-item">
                <a href="/">HOME</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Info Graphics</li>
        </ol>
    </nav>
</div>
<!-- breadcrumb ends  -->
<!-- main container  -->
    <!-- National  -->
    <div class="container p-0">
        <h5 class="heading-custom">National Assembly</h5>
        <div class="infogram-embed" data-id="_/7iCcloE5EUzTgi1PmV1H" data-type="interactive" data-title="National Assembly"></div><script>!function(e,n,i,s){var d="InfogramEmbeds";var o=e.getElementsByTagName(n)[0];if(window[d]&&window[d].initialized)window[d].process&&window[d].process();else if(!e.getElementById(i)){var r=e.createElement(n);r.async=1,r.id=i,r.src=s,o.parentNode.insertBefore(r,o)}}(document,"script","infogram-async","https://e.infogram.com/js/dist/embed-loader-min.js");</script>
    </div>

    
    <!-- Balochistan Assembly:   -->
    <div class="container p-0">
        <h5 class="heading-custom">Balochistan Assembly</h5>
        <div class="infogram-embed" data-id="_/hzIYM9iOd5KY1QMYFrWq" data-type="interactive" data-title="Balochistan Assembly 2"></div><script>!function(e,n,i,s){var d="InfogramEmbeds";var o=e.getElementsByTagName(n)[0];if(window[d]&&window[d].initialized)window[d].process&&window[d].process();else if(!e.getElementById(i)){var r=e.createElement(n);r.async=1,r.id=i,r.src=s,o.parentNode.insertBefore(r,o)}}(document,"script","infogram-async","https://e.infogram.com/js/dist/embed-loader-min.js");</script>

    </div>
    <!-- Punjab Assembly::   -->
    <div class="container p-0">
        <h5 class="heading-custom">Punjab Assembly</h5>
        <div class="infogram-embed" data-id="_/86FltgMtRHyqNxZNrshY" data-type="interactive" data-title="Punjab Assembly 2"></div><script>!function(e,n,i,s){var d="InfogramEmbeds";var o=e.getElementsByTagName(n)[0];if(window[d]&&window[d].initialized)window[d].process&&window[d].process();else if(!e.getElementById(i)){var r=e.createElement(n);r.async=1,r.id=i,r.src=s,o.parentNode.insertBefore(r,o)}}(document,"script","infogram-async","https://e.infogram.com/js/dist/embed-loader-min.js");</script>
    <!-- Sindh Assembly::   -->
    <div class="container p-0">
        <h5 class="heading-custom">Sindh Assembly</h5>
        <div class="infogram-embed" data-id="_/4O3VI99ywtDizvuIfDZP" data-type="interactive" data-title="Sindh Assembly 2"></div><script>!function(e,n,i,s){var d="InfogramEmbeds";var o=e.getElementsByTagName(n)[0];if(window[d]&&window[d].initialized)window[d].process&&window[d].process();else if(!e.getElementById(i)){var r=e.createElement(n);r.async=1,r.id=i,r.src=s,o.parentNode.insertBefore(r,o)}}(document,"script","infogram-async","https://e.infogram.com/js/dist/embed-loader-min.js");</script>

    </div>
    <!-- KPK Assembly::   -->
    <div class="container p-0">
        <h5 class="heading-custom">KPK Assembly</h5>
        <div class="infogram-embed" data-id="_/IQR01U05Jc1BfoWdjIBa" data-type="interactive" data-title="KPK Assembly 2"></div><script>!function(e,n,i,s){var d="InfogramEmbeds";var o=e.getElementsByTagName(n)[0];if(window[d]&&window[d].initialized)window[d].process&&window[d].process();else if(!e.getElementById(i)){var r=e.createElement(n);r.async=1,r.id=i,r.src=s,o.parentNode.insertBefore(r,o)}}(document,"script","infogram-async","https://e.infogram.com/js/dist/embed-loader-min.js");</script>

    </div>
{% endblock %}
