{% extends 'base.html' %}

{% block title %}Political Manifestos General Elections 2024 Pakistan{% endblock %}

{% block meta %}
<meta name="title" content="Political Manifestos General Elections 2024 Pakistan">
<meta name="description" content="Pakistan will see elections 2024 on February 8 on 266 NA and 593 PA seats- Check manifestos of all major parties participating in the exercise on ARY News election portal."/>
<meta name="keywords" content="General Election 2024, Pakistan Election 2024 polls, Pakistan Elections, Pakistan General Elections 2024, Today Election results Pakistan, General elections update, Elections update, Elections results 2024, Elections results, Election polls, Election results live update, Elections, Candidates, Election Results"/>


<!-- Required meta tags -->
<link rel="canonical" href="https://elections.arynews.tv/manifestos"/>
<meta property="og:title" content="Political Manifestos General Elections 2024 Pakistan"/>
<meta property="og:description" content="Pakistan will see elections 2024 on February 8 on 266 NA and 593 PA seats- Check manifestos of all major parties participating in the exercise on ARY News election portal."/>
<meta property="og:url" content="https://elections.arynews.tv/manifestos"/>

<meta name="twitter:description" content="Pakistan will see elections 2024 on February 8 on 266 NA and 593 PA seats- Check manifestos of all major parties participating in the exercise on ARY News election portal."/>

{% endblock %}

{% block style %}
<style>
    .heading{
        background-color: var(--primary-custom-color); 
        font-weight: 900; 
        font-size: 1.4rem;
    }
</style>
{% endblock %}
{% block content %}

<!-- breadcrumb -->
<div class="container p-0 breadcrumb-custom">
    <nav aria-label="breadcrumb" class="breadcrumb py-2 m-0">
        <ol class="breadcrumb p-0 m-0">
            <li class="breadcrumb-item">
                <a href="/">HOME</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Manifestos</li>
        </ol>
    </nav>
</div>
<!-- breadcrumb ends  -->

<!-- main container  -->
<div class="container p-0">
    <img src="/static/images/manifestos/PMLN.jpg" class="img-fluid mb-4 mt-4" alt="PMLN">
    <img src="/static/images/manifestos/PPP.jpg" class="img-fluid mb-4" alt="PPP">
    <img src="/static/images/manifestos/PTI.jpg" class="img-fluid mb-4" alt="PTI">    
    <img src="/static/images/manifestos/MQM.jpg" class="img-fluid mb-4" alt="MQM">
    <img src="/static/images/manifestos/JIP.jpg" class="img-fluid mb-4" alt="JIP">
    <img src="/static/images/manifestos/IPP.jpg" class="img-fluid mb-4" alt="IPP">
    <img src="/static/images/manifestos/PTI-P.jpg" class="img-fluid mb-4" alt="PTI-P">
</div>
{% endblock %}
