{% extends 'base.html' %}

{% block title %}{{data.constituency}} Election Result 2024, Candidates list {{data.Name}}{% endblock %}

{% block meta %}
<meta name="title" content="{{data.constituency}} Election Result 2024 {{data.Name}}, Candidates List">
<meta name="description" content="{{data.constituency}}: Elections Results Live 2024: {{data.Name}} {{data.Name}} constituency candidates and all updates for general elections in Pakistan and candidates list are {% for i in candidates %}{{i.candidate_name}}{% if not loop.last %}, {% endif %}{% endfor %}" />

<meta name="keywords" content="General Election 2024, Pakistan Election 2024 polls, Pakistan Elections, Pakistan General Elections 2024, Today Election results Pakistan, General elections update, Elections update, Elections results 2024, Elections results, Election polls, Election results live update, Elections, Candidates, Election Results"/>


<!-- Required meta tags -->
<link rel="canonical" href="https://elections.arynews.tv/constituency/{{data.constituency}}/2024"/>
<meta property="og:title" content="{{data.constituency}} Election Result 2024 {{data.Name}}, Candidates List"/>
<meta property="og:description" content="{{data.constituency}}: Elections Results Live 2024: {{data.Name}} {{data.Name}} constituency candidates and all updates for general elections in Pakistan and candidates list are {% for i in candidates %}{{i.candidate_name}}{% if not loop.last %}, {% endif %}{% endfor %}"/>
<meta property="og:url" content="https://elections.arynews.tv/constituency/{{data.constituency}}/2024"/>

<meta name="twitter:description" content="{{data.constituency}}: Elections Results Live 2024: {{data.Name}} {{data.Name}} constituency candidates and all updates for general elections in Pakistan and candidates list are {% for i in candidates %}{{i.candidate_name}}{% if not loop.last %}, {% endif %}{% endfor %}"/>

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Article",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://elections.arynews.tv/constituency/{{data.constituency}}/2024"
      },
      "headline": "{{data.constituency}} Election Result 2024 {{data.Name}}, Candidates List",
      "description": "{{data.constituency}}: Elections Results Live 2024: {{data.Name}} {{data.Name}} constituency candidates and all updates for general elections in Pakistan and candidates list are {% for i in candidates %}{{i.candidate_name}}{% if not loop.last %}, {% endif %}{% endfor %}",
      "image": "https://elections.arynews.tv/static/images/web-og.jpg",  
      "author": {
        "@type": "Organization",
        "name": "ARY News",
        "url": "https://elections.arynews.tv/"
      },  
      "publisher": {
        "@type": "Organization",
        "name": "",
        "logo": {
          "@type": "ImageObject",
          "url": ""
        }
      },
      "datePublished": "2024-02-05",
      "dateModified": "2024-02-07"
    }
    </script>

{% endblock %}


{% block style %}

<!-- Data tables css  -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
{% endblock %}
{% block content %}
<!-- breadcrumb -->
<div class="container p-0 breadcrumb-custom">
    <nav aria-label="breadcrumb" class="breadcrumb py-2 m-0">
        <ol class="breadcrumb p-0 m-0">
            <li class="breadcrumb-item">
                <a href="/">HOME</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/constituencies/national/2024">CONSTITUENCIES</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">{{year}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{data.constituency}}</li>
        </ol>
    </nav>
</div>
<!-- breadcrumb ends  -->
<div class="container" id="pk-constituency">
    <div class="row my-2 ">        
        <div class="col-md-12 px-0">
            <h5 class="text-center py-2 custom-grey-background grey-shadow rounded" style="font-size: 24px; font-weight: 900;">
                <span class="primary-custom-color">{{data.constituency}}</span> {{data.Name}}
            </h5>
        </div>
    </div>

    <div class="row align-items-center d-flex flex-row justify-content-between mb-2 top-cards-4">
        <div class="col-md-2 col-12 rounded py-2  mb-md-0 mb-2 custom-grey-background grey-shadow">
            <div class="row d-flex flex-row align-items-center  ">
                <div class="col-4 d-flex justify-content-end">
                    <i class="fas fa-vote-yea"></i>
                </div>
                <div class="col-8  d-flex flex-column justify-content-center ">
                    <div><h5>POLLING STATIONS</h5></div>
                    {% set polling_stations = data.polling_stations %}
                    {% set polling_stations_float = polling_stations | int %}
                    <div><h2 class="primary-custom-color"> {{ "{:,}".format(polling_stations_float) }}</h2></div></div>
            </div>
        </div>
        <div class="col-md-2 col-12  rounded py-2  mb-md-0 mb-2 custom-grey-background grey-shadow">
            <div class="row d-flex flex-row align-items-center ">
                <div class="col-4 d-flex justify-content-end">
                    <i class="fas fa-users"></i>
                </div>
                <div class="col-8 d-flex flex-column justify-content-center ">
                    <div><h5>REGISTERED VOTERS</h5></div>
                    {% set reg_voters = data.reg_voters %}
                    {% set reg_voters_float = reg_voters | int %}
                    <div><h2 class="primary-custom-color">{{ "{:,}".format(reg_voters_float) }}</h2></div></div>
            </div>
        </div>
        <div class="col-md-2 col-12  rounded py-2  mb-md-0 mb-2 custom-grey-background grey-shadow">
            <div class="row d-flex flex-row align-items-center ">
                <div class="col-4 d-flex justify-content-end">
                    <i class="fas fa-male"></i>
                </div>
                <div class="col-8 d-flex flex-column justify-content-center py-2">
                    <div><h5>MALE</h5></div>
                    {% set male_voters = data.male_voters %}
                    {% set male_voters_float = male_voters | int %}
                    
                    <div><h2 class="primary-custom-color">{{ "{:,}".format(male_voters_float) }}</h2></div></div>
            </div>
        </div>
        <div class="col-md-2 col-12  rounded py-2  mb-md-0 mb-2 custom-grey-background grey-shadow">
            <div class="row d-flex flex-row align-items-center ">
                <div class="col-4 d-flex justify-content-end">
                    <i class="fas fa-female"></i>
                </div>
                <div class="col-8 d-flex flex-column justify-content-center py-2">
                    <div><h5>FEMALE</h5></div>
                    {% set female_voters = data.female_voters %}
                    {% set female_voters_float = female_voters | int %}
                    <div><h2 class="primary-custom-color">{{ "{:,}".format(female_voters_float) }}</h2></div></div>
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-12 col-md-12" style="min-height: 50vh;">
            <h5 class=" bg-dark text-white p-2 rounded">Contesting Candidates {{year}}</h5>
            <table id="example" class="display compact data-table-custom" style="width:100%">
                <thead>
                    <tr>
                        <th>Candidates</th>
                        <th>Party Name</th>
                        <th>Party</th>
                        {% if year == 2024 %}
                        <th>Votes</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for i in candidates %}   
                        <!-- to show the winner change loop index to 1 -->
                        {% if loop.index == 0 and year == 2024 %}
                        <tr class="winner-row">
                            <td>
                                {{i.candidate_name}}<span class="winner-text">WINNER</span>
                            </td>
                            <td>{{i.party}}</td>
                            <td>{{i.party_abv}}</td>
                            <td>{% if i.votes %} {{i.votes}} {% else %} N/A {% endif %}</td>
                        </tr>
                        
                        <!-- to show the runnerup change loop index to 2 -->
                        {% elif loop.index == 0 and year == 2024 %}
                        <tr class="runnerup-row">
                            <td>
                                {{i.candidate_name}}<span class="runnerup-text">RUNNER-UP</span>
                            </td>
                            <td>{{i.party}}</td>
                            <td>{{i.party_abv}}</td>
                            <td>{% if i.votes %} {{i.votes}} {% else %} N/A {% endif %}</td>
                        </tr>
                        {% else %}            
                        <tr>
                            <td>
                                {{i.candidate_name}}
                            </td>
                            <td>{{i.party}}</td>
                            <td>{{i.party_abv}}</td>
                            
                            {% if year == 2024 %}
                            <td>{% if i.votes %}  {{ "{:,}".format(i.votes) }} {% else %} N/A {% endif %}</td>
                            {% endif %}
                        </tr>
                        {% endif %} 
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- main container  -->
<script>
    // new DataTable('#example');
    $('#example').dataTable( {
        "ordering": false,
        order: [[3, 'desc']]
    } );
</script>
{% endblock %}
